.App {
  text-align: center;
  align-content: center;
}

.board {
  align-content: center;
  display: flex;
  align-items: center;
}

.pit {
  display: flex;
  flex-direction: column;
}

.one {
  flex: 1 1 auto;
}

.firstRow {
  display: flex;
}

.secondRow {
  display: flex;
}

.store {
  display: flex;
}



